@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 30px;

}
html{
  background: rgb(165,97,191);
  background: radial-gradient(circle, rgba(165,97,191,1) 0%, rgba(0,0,0,1) 100%); 
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 30px;

  background: #f43f5e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f43f5e;
}

@media (max-width: 600px) {

  #header{display: flex;
  justify-content: right;}
  #medio{
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }
  #arriba{max-width: 500px;
  padding-left: 70px;
  }
  #abajo{
    max-width: 500px;
  }
  #footer{ width: 600px;
  align-items: center;}
  #todo{}  
}